*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* primary */
    --yellow: hsl(47, 88%, 63%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body{
    background: var(--yellow);
    font-family: "Figtree", sans-serif;
    display: grid;
    height: 100vh;
    place-content: center;
}

h2{
    font-weight: 900;
}

.card-container {
    background: var(--white);
    width: 384px;
    height: 511px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.75);   
}

.article__illustration {
    border-radius: 10px;
    width: 336px;
    height: 200px;
    position: relative;
    top: 1.3rem;
    left: 1.5rem;
}

.container__card, h2{
    position: relative;
    top: 5.5rem;
    left: 1.5rem;
}

h2:hover{
    color: var(--yellow);
    cursor: pointer;
}

.container__card, .publication-date{
    position: relative;
    top: 4.5rem;
    left: 1.5rem;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}

.container__card, .pub-description{
    color: var(--grey);
    position: relative;
    top: 6rem;
    left: 1.5rem;
    font-weight: 500;
    font-size: 16px;
    width: 336px;
    line-height: 23px;
}

.container__card, small:nth-child(1){
    background-color: var(--yellow);
    color: var(--black);
    padding: 5px 10px;
    font-weight: 800;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
    position: relative;
    top: 3rem;
    left: 1.5rem;
}

.container__card, small:nth-child(2){
    font-weight: 800;
    font-size: 16px;
    position: relative;
    top: 6.5rem;
    left: 2rem;
}
.avatar {
    height: 32px;
    position: relative;
    top: 7rem;
    left: 1.5rem;
}


@media(max-width: 768px){
    .container__card{
        width: 327px;
        height: 504px;
    }

    .article__illustration{
        border-radius: 10px;
        height: 200px;
        position: relative;
    }

    h2{
        font-size: 18px;
    }

    .pub-description, .publication-date{
        font-size: 0.8893rem;
    }

    small:nth-child(1){
        font-size: 13px;
    }
}